/* edit_profile.css */

body {
    font-family: Arial, sans-serif;
    background-color: #CDE8E5;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    background-color: #4D869C;
    color: white;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
}

header nav h1 {
    margin: 0;
}

main {
    margin-top: 60px; /* Ajusta según la altura del header */
    width: 90%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: #FFF;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-info {
    margin-bottom: 20px;
}

.profile-info div {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-info label {
    font-weight: bold;
    width: 150px; /* Ajusta el ancho del label si es necesario */
}

.profile-info input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #4D869C;
    margin-right: 10px;
    width: calc(100% - 120px); /* Ajusta el ancho del campo */
    display: inline-block;
}

.profile-info button {
    background-color: #4D869C;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: inline-block;
}

.profile-info button:hover {
    background-color: #7AB2B2;
}

.form-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.back-button {
    background-color: #4D869C;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
}

.back-button:hover {
    background-color: #7AB2B2;
}

.flash-message {
    color: #E57373;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}