/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #CDE8E5;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    background-color: #4D869C;
    color: white;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
}

header nav h1 {
    margin: 0;
}

main {
    margin-top: 60px; /* Ajusta según la altura del header */
    width: 90%;
    max-width: 800px;
}

.input_container {
    display: flex;
    align-items: center; /* Alinea los elementos verticalmente en el centro */
    margin-bottom: 20px;
}

#input_todo {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #4D869C;
    flex: 1;
}

#todo_date {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #4D869C;
    margin-left: 10px;
}

#priority {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #4D869C;
    margin-left: 10px;
}

#add_todo {
    background-color: #4D869C;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

h1, h2 {
    text-align: center;
}

.todo_container {
    background-color: #EEF7FF;
    padding: 20px;
    border-radius: 10px;
    width: 100%; /* Asegura que el contenedor ocupa el ancho completo */
    box-sizing: border-box; /* Incluye el padding y border en el ancho total */
}

.todo {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: white;
    position: relative; /* Necesario para la posición de la bandera */
}

/* Estilos para las banderas de prioridad */
.task-priority {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    left: 10px; /* Ajusta según sea necesario */
    top: 50%; /* Centrar verticalmente */
    transform: translateY(-50%); /* Ajustar la posición vertical */
    background-color: transparent; /* Asegura que el fondo es transparente por defecto */
}

/* Clases para cada prioridad */
.priority-1 {
    background-color: red;
}

.priority-2 {
    background-color: orange;
}

.priority-3 {
    background-color: green;
}

.checkmark-container {
    display: flex;
    align-items: center;
    margin-left: 30px; /* Ajuste para el espacio entre bandera y checkbox */
}

.checkmark {
    width: 20px;
    height: 20px;
    border: 2px solid #4D869C;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
    position: relative;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked + .checkmark {
    background-color: #4D869C;
}

input[type="checkbox"]:checked + .checkmark::after {
    content: '✓';
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
}

.editable {
    flex: 1;
    margin-right: 10px;
    padding: 5px;
    border-radius: 5px;
}

.actions {
    display: flex;
    align-items: center;
}

.edit-button, .delete-button {
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 5px;
}

.edit-button {
    background-color: #7AB2B2;
    color: white;
}

.delete-button {
    background-color: #E57373;
    color: white;
}

input[type="checkbox"] {
    cursor: pointer;
}

/* Estilo para el menú y el botón de tres rayitas */
.hamburger-menu {
    cursor: pointer;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: white; /* Cambia el color del ícono si es necesario */
}

.user-menu {
    display: none;
    position: absolute;
    top: 50px; /* Ajusta la posición del menú según sea necesario */
    left: 10px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    color: black; /* Cambia el color del texto a negro */
}

.user-menu.show {
    display: block;
}

.user-menu p {
    margin: 0;
    padding: 5px 0;
}

.user-menu a {
    text-decoration: none;
    color: black; /* Cambia el color del enlace a negro */
    padding: 5px 0;
    display: block;
}

/* Estilo para el botón de logout */
.logout-button {
    color: red;
    transition: background-color 0.3s, color 0.3s;
}

.logout-button:hover {
    background-color: #4D869C; /* Color de fondo cuando se pasa el mouse */
    color: white; /* Color del texto cuando se pasa el mouse */
}

.logout-button:active {
    background-color: #E57373; /* Color de fondo cuando se hace clic */
    color: white; /* Color del texto cuando se hace clic */
}

/* Estilo para el campo de fecha en las tareas */
.todo-date {
    width: 100px; /* Ajusta el ancho del campo de fecha */
    padding: 5px;
    padding-left: 25px; /* Espacio adicional a la izquierda para el ícono de calendario */
    border-radius: 5px;
    border: 1px solid #4D869C;
    background-color: #E0E0E0; /* Color de fondo más oscuro para la fecha */
    color: #333; /* Color del texto de la fecha */
    font-size: 14px; /* Tamaño de fuente de la fecha */
    text-align: center; /* Centrar el texto dentro del campo de fecha */
    position: relative; /* Necesario para posicionar el ícono de calendario si se usa */
}

.google-btn {
    background-color: #4285F4;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    text-align: center;
    border-radius: 5px;
}

.google-btn:hover {
    background-color: #357ae8;
}
