<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth_style.css') }}">
</head>
<body>
    <header>
        <nav>
            <h1>OrganizeOasis</h1>
        </nav>
    </header>
    <main>
        <div class="todo_container">
            <h2>Iniciar Sesión</h2>
            <form method="POST" action="/login">
                {% if error_message %}
                    <div class="alert error">{{ error_message }}</div>
                {% endif %}
                {% if success_message %}
                    <div class="alert success">{{ success_message }}</div>
                {% endif %}
                <div class="input_container input_with_icon">
                    <span class="icon">&#128100;</span>
                    <input type="text" name="username" placeholder="Usuario" id="input_todo" required>
                </div>
                <div class="input_container input_with_icon">
                    <span class="icon">&#128273;</span>
                    <input type="password" name="password" placeholder="Contraseña" id="input_todo" required>
                </div>
                <button type="submit">Iniciar Sesión</button>
            </form>
            <p>¿No tienes cuenta? <a href="{{ url_for('register') }}">Regístrate aquí</a></p>
        </div>
    </main>
</body>
</html>
